{% spaceless %}
    <div class="portfolio-modal modal fade" id="{{ item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ item.title|t }}</h2>

                            <p class="item-intro text-muted">{{ item.metaDescription|t }}</p>
                            <img class="img-responsive img-centered" src="{{ item.image }}" alt="{{ item.metaDescription|t }}">

                            <p>{{ item.description|t }}</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'portfolio.button'|trans({},'FDevsCoreBundle') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
