{% extends "TwitterBootstrapBundle::layout.html.twig" %}
{% block title %}{{ 'title'|trans({},'FDevsCoreBundle') }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ 'meta.description'|trans({},'FDevsCoreBundle') }}">
    <meta name="keywords" content="{{ 'meta.keywords'|trans({},'FDevsCoreBundle') }}">
    <meta name="author" content="4devs team">
{% endblock %}
{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" title="">{{ 'brand'|trans({},'FDevsCoreBundle') }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#portfolio">{{ 'menu.portfolio'|trans({},'FDevsCoreBundle') }}</a></li>
                    <li><a class="page-scroll" href="#about">{{ 'menu.about'|trans({},'FDevsCoreBundle') }}</a></li>
                    <li><a class="page-scroll" href="#contact">{{ 'menu.contact'|trans({},'FDevsCoreBundle') }}</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ asset('bundles/fdevscore/img/profile.png')}}" alt="">
                    <div class="intro-text">
                        <span class="name">{{ 'intro.lead'|trans({},'FDevsCoreBundle') }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ 'intro.heading'|trans({},'FDevsCoreBundle') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ 'portfolio.heading'|trans({},'FDevsCoreBundle') }}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            {{ catalog_list('portfolio',{'tpl_item':'FDevsCoreBundle:Catalog:portfolio_item.html.twig'}) }}
        </div>
    </section>


    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ 'about.heading'|trans({},'FDevsCoreBundle') }}</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    {{ sonata_block_render({ 'type': 'f_devs_block.service.block' }, {'id':'about_left'}) }}
                </div>
                <div class="col-lg-4">
                    {{ sonata_block_render({ 'type': 'f_devs_block.service.block' }, {'id':'about_right'}) }}
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/4devs/company-site" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> {{ 'about.download'|trans({},'FDevsCoreBundle' )}}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ 'contact.heading'|trans({},'FDevsCoreBundle') }}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            {{ render(controller('FDevsContactUsBundle:Default:index')) }}
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        {{ sonata_block_render({ 'type': 'f_devs_block.service.block' }, {'id':'location'}) }}
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ 'footer.around'|trans({},'FDevsCoreBundle') }}</h3>
                        {{ render(controller('f_devs_contact_us.controller.contact:contactAction',{'name':'social','tplContact':'FDevsCoreBundle:Contact:social_contact.html.twig','tplConnect':'FDevsCoreBundle:Contact:footer.html.twig'})) }}
                    </div>
                    <div class="footer-col col-md-4">
                        {{ sonata_block_render({ 'type': 'f_devs_block.service.block' }, {'id':'about_freelancer'}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 4devs Company 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    {{ catalog_list('portfolio',{'tpl_item':'FDevsCoreBundle:Catalog:portfolio_modal.html.twig'}) }}
{% endblock %}
